<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="favicon.ico"-->

    <title>Selección de imagen de fondo</title>

    <link href="/portal/portal/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="/portal/portal/jquery/1.12.2/jquery.min.js"></script>
    <script src="/portal/portal/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/portal/portal/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="/portal/portal/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <style>
      body {margin:0;padding:0}
      h1 {text-align:center;padding-bottom:2em;}
      button#plus {position:fixed; bottom:0; right:1em;}
      .btn-circle.btn-xl {width:70px; height:70px; padding:10px 16px; font-size:24px; line-height:1.33; border-radius:35px;}
      .caption p {color:#777}
      .thumbnail {margin-bottom:0;}
      .thumb {margin-bottom: 30px;}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <h1>Selección de imagen de fondo para el Portal de Servicios</h1>

  [% IF mensaje %]<div class="alert alert-danger" role="alert">[% mensaje %]</div>[% END %]

  <div class="container">

	<h2>Imagen de fondo seleccionada actualmente:</h2>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a class="thumbnail" onclik="void(0)">
				<img class="img-responsive" src="[% basedir %]/[% background %]" alt="">
			</a>
		</div>
	</div>

	<h2>Otras imágenes disponibles:</h2>
	<div class="row">
[% BLOCK row_imagenes %]
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<img class="img-responsive thumbnail" src="[% basedir %]/[% img %]?[% timestamp %]" alt="[% img %]" data-toggle="modal" data-target="#imgModal">
			<div class="caption"><p>[% fecha %][% IF descripcion %]<br>[% descripcion %][% END %]</p></div>
		</div>
[% END %][% rows_imagenes %]
	</div>

	<!-- Agrego archivos: boton y modal -->
	<button id="plus" type="button" class="btn btn-danger btn-default btn-circle btn-xl" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i></button>

	<form method="post" role="form" id="agrego" enctype="multipart/form-data">
	<input type="hidden" name="upload" value="on">
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Agregar imagen a la biblioteca</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Elegir archivo de imagen (el ancho recomendado es de 320px):</label>
						<input id="adjunto" type="file" class="file" name="adjunto" multiple>
					</div>

					<div class="form-group">
						<label for="descripcion">Descripción:</label>
						<textarea class="form-control" rows="5" name="descripcion"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-default">Enviar</button>
				</div>
			 </div>
		</div>
	 </div>
	</form>

	<!-- Acciones de archivo: modal -->
	<form method="post" id="acciones">
	<input type="hidden" name="img" id="imgTarget">
	<div id="imgModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Acciones con la imagen: <span id="imgName"></span></h4>
				</div>
				<div class="modal-body">
					<div class="thumb">
						<img class="img-responsive" id="imgSelected" alt="" style="margin:auto">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-default btn-danger" name="borrar" value="on">Borrar</button>
					<button type="submit" class="btn btn-default btn-success" name="activar" value="on">Activar como fondo del Portal</button>
				</div>
			</div>
		</div>
	</div>
	</form>
				

  </div>

  <script type="text/javascript">
  $("img").click(function(){
	$('#imgSelected').attr('src', '[% basedir %]/'+$(this).attr('alt'));
	$('#imgTarget').val( $(this).attr('alt') );
	$('#imgName').text( $(this).attr('alt') );
	
  });
  </script>

  </body>
</html>
