<!DOCTYPE html>
<html lang="es">
<head>
  <title>Portal de Servicios - Consejo de Educación Secundaria</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/portal/portal/jquery/1.12.2/jquery.min.js"></script>
  <script src="/portal/portal/dist/js/bootstrap.min.js"></script>
  <link href="/portal/portal/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="/portal/portal/typeahead.bundle.js"></script>
  <script src="/portal/portal/portal.js"></script>
<style type="text/css">
nav.navbar-ces {background-color:#003c5b;border-color:#032a59;color:#d2d2d2;border-radius:0;z-index:1;margin-bottom:0}
nav.navbar-ces div#myNavbar li#ces-depend {padding:8px}
nav.navbar-ces div#myNavbar li#ces-depend select {background-color:#003c5b;border-color:#032a59;color:#d2d2d2;padding:0}
nav.navbar-ces button#ces-button-collapse span.icon-bar {background-color:#d2d2d2}
nav.navbar-ces button#ces-button-collapse {border-color:#d2d2d2}
nav.navbar-ces div#myNavbar > ul {min-height:50px}
nav.navbar-ces div#myNavbar ul > li.dropdown-header {background-color:#003c5b;color:#fff;font-size:large}
nav.navbar-ces div#myNavbar ul > li > a {background-color:#003c5b;color:#d2d2d2}
nav.navbar-ces div#myNavbar ul {background-color:#003c5b;color:#d2d2d2;border-color:#032a59}
nav.navbar-ces div#myNavbar li.ces-menuparent a {color:#bbb;padding-top:0.3em;font-weight:bold}
nav.navbar-ces img#logo {margin-left:15px;margin-top:1px}
nav.navbar-ces div#myNavbar li.nivel1 {padding-left:4px}
nav.navbar-ces div#myNavbar li.nivel2 {padding-left:8px}
nav.navbar-ces div#myNavbar li.nivel3 {padding-left:12px}
nav.navbar-ces div#myNavbar li.nivel4 {padding-left:16px}
nav.navbar-ces div#myNavbar li.nivel5 {padding-left:20px}
nav.navbar-ces div#myNavbar li.nivel6 {padding-left:24px}
nav.navbar-ces div#myNavbar form#searchform {margin:5px 0}
nav.navbar-ces input#search {vertical-align:middle !important;background-color:#d2d2d2;border-color:#032a59;color:#000}
nav.navbar-ces div.input-group {color:#504646}
nav.navbar-ces div.tt-dataset {background-color:#003c5b;border-color:#032a59;color:#d2d2d2;padding:4px;cursor:pointer;white-space:nowrap}
nav.navbar-ces span.badge {background-color:#d2d2d2;color:#504646;vertical-align:top;font-size:x-small}
nav.navbar-ces span.badge.red {background-color:#ed3237;color:#fff}
nav.navbar-ces a { outline:0 }
div#iframe {position:relative;height:calc(100% - 57px);max-width:100%;margin:0;padding:0;z-index:[% IF hayNotificaciones %]3[% ELSE %]0[% END %]}
iframe {border:0;margin:0;padding:0;position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;display:block}
div#cortina {position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;background-color:rgba(0,0,0,0.3)}
html,body {height:100%;padding:0;margin:0}
html {overflow-y:auto}
</style>
</head>
<body>

<nav class="navbar navbar-ces">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="ces-button-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="hidden-xs hidden-sm" href="/drupal/" target="content"><img id="logo" src="/portal/portal/logo_ces.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">General <span class="caret"></span></a>
          <ul class="dropdown-menu">
[% BLOCK menuGeneral %]            <li class="nivel[% nivel %][% IF vacio %] ces-menuparent navbar-link[% END %]"><a[% IF path %] href="[% path %]"[% IF iframe %] target="content"[% END %][% END %]>[% titulo %]</a></li>
[% END %][% rows_menuGeneral %]
          </ul>
        </li>
[% IF rows_menuAlumnos %]
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Alumnos <span class="caret"></span></a>
          <ul class="dropdown-menu">
[% BLOCK menuAlumnos %]            <li class="nivel[% nivel %][% IF vacio %] ces-menuparent navbar-link[% END %]"><a[% IF path %] href="[% path %]"[% IF iframe %] target="content"[% END %][% END %]>[% titulo %]</a></li>
[% END %][% rows_menuAlumnos %]
          </ul>
        </li>
[% END %]
[% IF rows_menuPersonal %]
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personal <span class="caret"></span></a>
          <ul class="dropdown-menu">
[% BLOCK menuPersonal %]            <li class="nivel[% nivel %][% IF vacio %] ces-menuparent navbar-link[% END %]"><a[% IF path %] href="[% path %]"[% IF iframe %] target="content"[% END %][% END %]>[% titulo %]</a></li>
[% END %][% rows_menuPersonal %]
          </ul>
        </li>
[% END %]
[% IF rows_menuLiceo %]
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Liceo <span class="caret"></span></a>
          <ul class="dropdown-menu">
[% BLOCK menuLiceo %]            <li class="nivel[% nivel %][% IF vacio %] ces-menuparent navbar-link[% END %]"><a[% IF path %] href="[% path %]"[% IF iframe %] target="content"[% END %][% END %]>[% titulo %]</a></li>
[% END %][% rows_menuLiceo %]
          </ul>
        </li>
[% END %]

        <li class="dropdown">
            <form class="navbar-form" role="search" id="searchform">
                <div class="input-group">
                    <div class="form-group has-feedback">
                        <input type="text" id='search' class="form-control" placeholder="Buscar en el menú" name="q">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
            </form>
        </li>


      </ul>

      <ul class="nav navbar-nav navbar-right">
[% IF hay_email %]
        <li><a href="/ces/cgi-bin/sso/sso3.pl?app=webmail" target="_blank" id="email"><span class="glyphicon glyphicon-envelope"></span> <span class="badge" id="emails"></span></a>
	</li>
[% END %]
[% IF hay_depend %]
        <li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-map-marker"></span><span id="depend"> [% depend %]</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">[% depend %]</li>
            <li class="divider"></li>
[% BLOCK depend %]            <li><a href="?d=[% dependid %]&amp;l=[% lugarid %]">[% depend %]</a></li>
[% END %][% rows_depend %]
          </ul>
        </li>
[% END %]
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><span id="nombre"> [% nombre %]</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">[% nombre %]</li>
            <li class="divider"></li>
            <li><a href="https://www.ces.edu.uy/pwm/private/ChangePassword?PwmLocale=es"><span class="glyphicon glyphicon-lock"></span> Cambiar contraseña</a></li>
            <li><a href="https://www.ces.edu.uy/pwm/private/SetupResponses?PwmLocale=es"><span class="glyphicon glyphicon-pencil"></span> Establecer pistas de contraseña</a></li>
            <li><a href="/ces/cgi-bin/pwd/cambiar_datos.pl" target="content"><span class="glyphicon glyphicon-pencil"></span> Actualizar perfil</a></li>
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

[% IF hayNotificaciones %]<div id="cortina"></div>
<script type="text/javascript">
	// habilito el acceso al menú cuando las notificaciones están notificadas
	var intervalId = setInterval( function(){
		$.ajax({url:"/portal/cgi-bin/portal/notificacion", success:function(result) {
			if (result==="0") {
				clearInterval(intervalId);
				$('div#iframe').css("z-index","0");
				$('#cortina').hide();
			} }
		});
	}, 10000);
</script>
[% END %]

[% IF hay_email %]
<script type="text/javascript">
	// cantidad de correos nuevos
	function refreshEmail() {
		$.ajax({url:'correos_nuevos',
			success:function(data){
				var cant = data.toString().match(/[0-9][0-9]*\+?/);
				if (cant != null) {
					$('#emails').text(cant);
					if (cant > 0 || cant == '10+') {
						$('#emails').addClass('red');
					} else {
						$('#emails').removeClass('red');
					}
				} else if (data.toString().match(/^SESSION TIMEDOUT/)) {
					window.top.location.href="[% url_login %]";
				}
			}
		});
	};

	setInterval(refreshEmail,60000);

	$('a#email').click(function(){ setTimeout(refreshEmail,15000) });

	refreshEmail();

</script>
[% END %]

<script type="text/javascript">
$(document).ready(function(){
        if (navigator.userAgent.match(/Firefox\/2[8-9]/) ||
            navigator.userAgent.match(/Firefox\/[3456789][0-9]/) ) {

		$('div#iframe iframe').attr('sandbox','allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals');
	}
});
</script>

<div id="iframe">
	<iframe src=[% IF hayNotificaciones %]"/notificaciones/servlet/misnotificaciones"[% ELSE %]"/drupal/"[% END %] name="content" frameborder="0"/>
</div>

</body>
</html>

