[Desktop Entry]
Encoding=UTF-8
Name=Link to Page 1 
Type=Link
URL=http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_collapse&stacked=h#
Icon=text-html
